@import "./variables/global";
@import "./themes/dark";
@import "./themes/normal";
@import "./reset";

.app {
    min-height: 100vh;
    background-color: var(--bg-color);
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}
