.button {
    cursor: pointer;
    color: var(--primary-color);
    padding: 6px 15px;
}

.clear {
    padding: 0;
    outline: none;
    background-color: unset;
    border: none;
}

.outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: unset;
}
